<h1> Outcome </h1>
(The card values are Jack = 11, Queen = 12, King = 13)
<br>
<br>
<% @transformed_record.each do |record_hash| %>
  <% record_hash.each do | player, hand| %>
    <%= player %> :
    <% hand.each do |card| %>
      <%  card.each do |suit, number| %>
      <%= number %> of <%= suit  %> ||
       <% end %>
 <%    end %> <br>
  <% end %>
<% end %>

<br>

<%= @statement %>
