<h1> Outcome </h1>
(The card values are 11 = Jack, 12 = Queen, 13 = King)
<br>
<br>
<% @dealer.record.each { |record_hash| %>
  <% record_hash.each {| player, hand| %>
    <%= player %> :
    <% hand.each {|card| %>
      <%  card.each {|suit, number| %>
      <%= number %> of <%= suit  %> ||
      <% } %>
    <%    } %> <br>
  <% } %>
<% } %>

<br>

<%= @statement %>
