<h1> Outcome </h1>

<% @dealer.record.each { |record_hash| %>
  <% record_hash.each {| player, hand| %>
    <%= player %> :
    <% hand.each {|card| %>
      <%  card.each {|suit, number| %>
      <%= number %> of <%= suit  %> ,
      <% } %>
    <%    } %> <br>
  <% } %>
<% } %>

And the winner is: <%= @winner %>
