<h1> Outcome </h1>

<% @dealer.record.each { |record_hash| %>
<% record_hash.each {| player_key, array_values| %>
<%= player_key %> :
<% array_values.each {|hash| %>
<%  hash.each {|key, value| %>
<%= value %> of <%= key  %> ,

<% } %>
<%    } %> <br>
<% } %>
<% } %>
