<% flash.keys.each do |type| %>
  <div data-alert class='flash <%= type %> alert-box radius'>
    <%= flash[type] %>
  </div>
<% end %>


Welcome! <br>

<form action='/save_quantities' method='post'>
  How many are playing? Please number each player amongst yourselves, e.g. "I am Player number 1"
  <input type='text' name='num_players' > <br>
  How many cards should each player be dealt?
  <input type='text' name='num_cards' >
  <input type='submit' value='Submit'>
</form>
